@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://code.cdn.mozilla.net/fonts/fira.css");
:root {
    --bg-color1: #181818;
    --bg-color2: #232730;
    --bg-color3: #737373;
}
body {
    background-color: var(--bg-color2);
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-family: "Fira Mono";
    font-size: 1.5em;
    align-items: center;
}
::selection {
    opacity: 1;
    background-color: rgba(71, 166, 255, 0.38);
}
a {
    color: rgb(71, 166, 255);
    transition: all 200ms;
}
a:hover {
    color: rgb(53, 129, 201);
}
hr {
    align-items: center;
    text-align: center;
    width: 80%;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 0.8em;
    font-weight: 500;
    font-family: inherit;
    background-color: #6bd3af;
    cursor: pointer;
    transition: border-color 500ms ease-out;
}
button:hover {
    border-color: #646cff;
    background-color: #4f9c82;
}
footer {
    text-align: center;
    p {
        font-size: 0.9em;
        margin-bottom: 0;
    }
    a {
        text-decoration: none;
        font-size: 0.8em;
    }
}
a.white {
    color: white;
}
a.white:hover {
    color: #939393;
}
@media (max-width: 600px) {
    body {
        font-size: 1.5em;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 0;
    }

    p {
        font-size: 1em;
        margin-bottom: 0;
    }
}
